body.episilion-bg{
  background-color: rgb(231, 221, 221);
  overflow: hidden;
}
.ask-episilion-page-header{
  height: 60px;
  gap: 30px;
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  margin-bottom: 40px;
}
.ask-episilion-page-header-robot-image{
  width: 40px;
  padding: 5px;
  background-color: #d3c84d;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ask-episilion-page-header-AI-description p:first-of-type {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ask-episilion-page-header-AI-description p:last-of-type {
  color: grey;   /* example styling */
}
.ask-episilion-page-header-AI-description.sidebar{
  height: 50px;
  border-bottom: 2px solid grey;
}

.main-epsilion-container{
  display: flex;
  height: 100vh;
}
.epsilion-wrapper-one{
  width: 20%;
  padding: 10px;
  background-color: white;
}
.epsilion-wrapper-two{
  width: 80%;
}

.ask-episilion-search-conatainer {
  position: fixed;
  bottom: 40px;
  width: 80%;
  /* left: 50%; */
  /* position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; */
  /*max-width: 600px;       optional: prevent it from stretching too wide */
  /*background: #b4d10c;       style as needed */
  /* background-color: #dfded3; */
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* z-index: 1000; */
  /* ensures it stays above footer */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
}

@media only screen and (min-width: 1200px) {
  .ask-episilion-search {
    bottom: 40px;
  }
}



.ask-episilion-search-bar{
  background-color: rgb(231, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  gap: 30px;
}

.ask-episilion-input-box {
  padding: 10px;
  width: min(700px, 60%);
  border-radius: 12px;
  border: none;
  background-color: inherit;
  width: 100%;
  font-size: clamp(14px, 2vw, 15px);
  resize: none;
}
.ask-episilion-input-box:placeholder-shown {
  font-size: clamp(14px, 2vw, 15px);
  font-family: AntipastoPro;
}

.ask-episilion-search-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #d3c84d;
  width: 4%;
  height: 40px;
}

.send-image-epislion{
  width: 50%;
  height: 50%;
}
.ask-epislion-warning-message{
  text-align: center;
  font-size: clamp(9px, 2vw, 14px);
  color: grey;
  font-family: cursive;
}

.messages {
  /* position: fixed;
  top: 120px;
  bottom: 130px; 
  left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  /* max-width: 600px; */
  max-height: 300px;
  /* height: 55%; */

  display: flex;
  flex-direction: column;
  gap: 30px;

  overflow-y: auto;   
  padding: 10px;
  scroll-behavior: smooth;
}

/* User message aligned right */
.user-message {
  align-self: flex-end;
  /* pushes bubble to far right */
  background: black;
  color: white;
  font-family: cursive;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  border-top-right-radius: 0;
  /* Flattens corner where tail meets */
}

.episilion-message-and-bot-conatainer{
  display: flex;
  gap: 10px;
}


.ask-episilion-robot-image{
  width: min(30px, 20%);
  /* height: min(40px, 20%); */
  height: 40px;
  padding: 5px;
  background-color: #d3c84d;
  border-radius: 20px;
}
.ask-episilion-message-first-Paragraph{
  font-size: clamp(10px, 2vw, 15px);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ask-episilion-message-second-Paragraph{
  color: grey;
  font-size: clamp(12px, 2vw, 15px);
  margin-top: 10px;
  line-height: 25px;
}
.ask-episilion-light-bulb{
  width: 3%;
  height: 15px;
}
.ask-episilion-message-third-Paragraph{
  display: flex;
  align-items: center;
  border: solid gold;
  padding: 5px;
  font-size: clamp(10px, 2vw, 15px);
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(255, 217, 0);
  background-color:  rgba(232, 230, 220, 0.217);
}

/* Epsilon message aligned left */
.episilion-message {

  align-self: flex-start;
  /* pushes bubble to far left */
  background: #f1f1f1;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  border-top-left-radius: 0;
  /* Flattens corner where tail meets */
}


.episilion-response-header {
  text-align: center;
  font-size: clamp(13px, 2vw, 20px);
  font-weight: bolder;
  font-family: Playfair Display;
}

.episilion-response {
  display: flex;
  margin: 5px;
  width: 100%;
}

.episilion-response-hostel-name {
  font-family: Sancreek;
  font-weight: lighter;
  font-size: clamp(13px, 2vw, 15px);
}

.episilion-response-hostel-price {
  font-family: PriceMart;
  font-weight: lighter;
  color: green;
  font-size: clamp(10px, 2vw, 13px);
  margin-left: 5px;
}
.episilion-response-hostel-link{
  margin-left: 5px;
  color: blue;
  font-size: clamp(10px, 2vw, 15px);
  cursor: pointer;
}

.episilion-response-image{
  width: 100px;
  display: block;
  border-radius: 5px;
}

@media only screen and (max-width: 600px ){
  .epsilion-wrapper-one{
    display: none;
  }
  .ask-episilion-search-conatainer{
    bottom: 70px;
    width: 100vw;
  }
  .episilion-response-hostel-price{
    margin-left: 1px;
  }
  .episilion-response-hostel-link{
    margin-left: 3px;
  }
  .ask-episilion-search-button{
    width: 20%;
  }
  .ask-episilion-search-bar{
    gap: 10px;
  }
  .ask-episilion-message-second-Paragraph{
    line-height: 20px;
  }
}
