.hostel-comparison-container {
    display: flex;
    padding: 10px;
    gap: 30px;
    position: relative;
    margin-bottom: 50px;
}

.compared-hostels-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: solid red; */
}

.compare-hostels-arrow-button {
    /* border: solid blue; */
    border: navajowhite;
    width: min(30px, 10%);
    background-color: transparent;
}
.compare-hostels-arrow-button:active{
    transform: scale(0.9);
}

.compare-hostels-switch-text {
    font-size: clamp(20px, 2vw, 30px);
    margin: 5px;
    font-weight: lighter;
}

.hostel-comparison-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #0f0909;
    /* background: linear-gradient(to bottom, transparent, #0c0a0a, transparent); */
}

.compared-hostels {
    width: 50%;
}

.compared-hostel-name {
    text-align: center;
    font-family: Playfair Display;
    margin: 10px;
    font-size: clamp(18px, 2vw, 30px);
    min-width: 500px;
}

.compared-hostel-image {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.compared-hostel-titles {
    font-size: clamp(15px, 2vw, 20px);
    font-family: Playfair Display;
    color: rgb(194, 8, 8);
    font-weight: bolder;
}

.compared-hostel-distance {
    font-size: clamp(20px, 2vw, 30px);
    font-family: lato;
    /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
    /* font-family: Sancreek; */
}
.compared-hostel-diatance-advantage{
    font-weight: lighter;
    font-family: Hezba;
}
.compared-hostel-diatance-advantage.true{
    color: green;
}
.compared-hostel-diatance-advantage.false{
    color: red;
}

.compared-hostel-pricing {
    font-size: clamp(15px, 2vw, 20px);
    font-family: lato;
}
.compared-hostel-price-advantage, .compared-hostel-room-advantage{
    font-weight: lighter;
    font-family: Hezba;
    margin-left: 5px;
    font-size: clamp(20px, 2vw, 30px);
}

.compared-hostel-price-advantage.true{
    color: green;
}
.compared-hostel-price-advantage.false{
    color: red;
}

.compared-hostel-room-type-images-continer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    flex-wrap: wrap;
}

.compared-hostel-room-type-images-continer .compared-hostel-room-type-image {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .hostel-comparison-container {
        display: block;
    }

    .compared-hostel-name {
        min-width: 200px;
    }

    .compared-hostels {
        width: 100%;
    }

    .compared-hostel-image {
        width: 100%;
        height: 250px;
        border-radius: 5px;
    }

    .compared-hostel-room-type-images-continer {
        display: flex;
        gap: 5px;
    }

    .compared-hostel-room-type-images-continer .compared-hostel-room-type-image {
        width: 30%;
        height: auto;
    }

    .hostel-comparison-container::before {
        display: none;
    }
}