.user-profile-container{
    height: 10%;
    display: flex;
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    /* background-color: rgb(231, 221, 221); */
    padding: 20px;
    border: solid black .2px;
    border-radius: 30px;
}
.user-profile-name-initials{
    margin: 5px;
    min-width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3c84d;
    background-color: black;
    font-weight: bolder;
    display: flex;
}

.user-profile-icons{
    width: 2%;
    min-width: 13px;
}

.user-profile-name{
    font-size: clamp(15px, 2vw, 20px);
    font-weight: bolder;
}
.user-profile-email{
    font-size: clamp(13px, 2vw, 15px);
    margin-bottom: 5px;
    color: grey;
}

.user-profile-joined{
    display: flex;
    gap: 5px;
    font-size: clamp(13px, 2vw, 16px);
}
.user-joined-date-span{
    font-weight: bolder;

}